@CHARSET "UTF-8";
/*
	Author: Joseph Lee
	Date: Aug 17 2012
*/

//----------Header area
header{
	background: 
}

//----------Content area
content{
	
}

//----------Footer area
footer{
	
}